@{
    ViewData["Title"] = "Boolflix";
     var content = ViewData["Jumbotron"] as Film ;
}

<div class="text-center">
    <h1>Benvenuto in Boolflix</h1>

</div>
@*<div  id="Jumbotron" class="text-center">
  <h3>@content.NomeFilm</h3>
</div>*@