@model csharp_boolflix.Models.Film

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeFilm" class="control-label"></label>
                <input asp-for="NomeFilm" class="form-control" />
                <span asp-validation-for="NomeFilm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titolo" class="control-label"></label>
                <input asp-for="Titolo" class="form-control" />
                <span asp-validation-for="Titolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Durata" class="control-label"></label>
                <input asp-for="Durata" class="form-control" />
                <span asp-validation-for="Durata" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Novità" /> @Html.DisplayNameFor(model => model.Novità)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="GenereId" class="control-label"></label>
                <select asp-for="GenereId" class ="form-control" asp-items="ViewBag.GenereId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
